<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laaltentech.abou.fitnessapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />


    <application
        android:name="com.laaltentech.abou.fitnessapp.util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.owner.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bottomnav.owner.activity.BottomMainNavActivity"/>
        <activity android:name="com.laaltentech.abou.fitnessapp.game.owner.activity.GameActivity"/>
        <activity android:name="com.laaltentech.abou.fitnessapp.MainActivity" />
        <activity android:name=".cameraX.activity.CameraActivity"/>
        <receiver android:name="com.laaltentech.abou.fitnessapp.game.owner.alarmReceiver.AlarmReceiverFunctions"
            android:enabled="true"
            android:exported="true">
        </receiver>

    </application>

</manifest>